/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
# Ignorar todos los archivos de respaldo de editores
*.swp

# Ignorar composer.lock (archivo de dependencias)
composer.lock

# Ignorar migraciones específicas
database/migrations/*.php

# O si quieres ignorar todas las migraciones:
# database/migrations/*

# Asegúrate de no ignorar el archivo .gitignore dentro de estos directorios
!.gitignore

